@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nova+Cut&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

p {
    margin-top: 0;
}